.page-wrapper {
	padding-left: 0px;
	box-sizing: border-box;
	width: 100%;
}
.side-menu {
	background-color: #b8b8b8;
	box-shadow: 0px 2px 10px 0px #0000003d;
	border: 1px solid #a3a3a3;
	position: fixed;
	width: 260px;
	right: 0;
	top: 0;
	bottom: 0;
	font-family: sans-serif;
	font-size: 16px;
	display: none;
	z-index: 2;
	overflow-y: auto;
}

.side-menu-list,
.side-menu-header {
	text-align: left;
	margin: 0;
	padding: 0;
}

.side-menu-header {
	background: #d5452f;
	color: white;
	padding: 15px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	font-family: sans-serif;
}

.side-menu-list {
	margin-top: 5px;
}

.side-menu-list a{
	padding: 10px 10px 10px 15px;
	font-family: sans-serif;
	font-size: 16px;
	margin: 5px 0px;
	display: block;
	text-decoration: none;
	color: black;
	transition: 0.3s all;
}

.side-menu-list img{
	height: 25px;
	width: 25px;
	display: inline;
	vertical-align: middle;
	margin-right: 10px;
}

.side-menu-list a:hover {
	background: #d5452f;
}

.header-toggle{
	position: fixed;
	right: 0;
	top: 0;
	height: 40px;
	width: 45px;
	background-image: url(../img/icons/menu-icon.png);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	opacity: .5;
	border: 1px solid black;
    border-radius: 3px;
    background-color: #faa;
    z-index: 1;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 1200px) {
	.page-wrapper { padding-left: 300px; }
	.container {width:850px}
	.side-menu {
		z-index:1;
		display: block;
		right: auto;
		left: 0;
		width: 300px;
	}
	.header-toggle{ display: none; }
}

